<!DOCTYPE html>
<html>
<head>
    <title>Shopping Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to our Shopping Website</h1>
    <h2>This is 1st page</h2>
    <div class="product-container">
        <!-- Product listing will be dynamically generated here -->
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
